header {
            display: flex;
            min-height: 70px;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: red;
            top: 0px;
            border: 5px solid white;
            width: 100%;
        }
* {
background-color: black;
}
