header {
            display: flex;
            min-height: 70px;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: red;
            top: 0px;
z-index: 9999;
        }

spann {
            display: block;
            white-space: nowrap;
            border-right: 4px solid;
            width: 39ch;
            animation: typing 2s steps(12), blink .5s infinite step-end alternate;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 100%;
color: white;
background-color: red;
        }

body {
background-color: black;
}

a {
    text-decoration: none;
color: white;
border-radius: 50px;
}

